#lemonMade {
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
    background-color: #fff;
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;

    ::selection {
        background-color: $himssGrey;
        text-shadow: none;
    }

    hr {
        border-top: 1px solid #ccc;
        border: 0;
        display: block;
        height: 1px;
        margin: 1em 0;
        padding: 0;
    }

    audio,
    canvas,
    iframe,
    img,
    svg,
    video {
        vertical-align: middle;
    }

    fieldset {
        border: 0;
        margin: 0;
        padding: 0;
    }

    textarea {
        resize: vertical;
    }

    .browserupgrade {
        margin: 0.2em 0;
        background: #ccc;
        color: #000;
        padding: 0.2em 0;
    }
}

@media print {
    #lemonMade,
    #lemonMade::after,
    #lemonMade::before {
        background: transparent !important;
        box-shadow: none !important;
        color: #000 !important;
        text-shadow: none !important;
    }

    #lemonMade {
        a,
        a:visited {
            text-decoration: underline;
        }

        a[href]::after {
            content: " (" attr(href) ")";
        }

        abbr[title]::after {
            content: " (" attr(title) ")";
        }

        a[href^="#"]::after,
        a[href^="javascript:"]::after {
            content: "";
        }

        pre {
            white-space: pre-wrap !important;
        }

        blockquote,
        pre {
            border: 1px solid #999;
            page-break-inside: avoid;
        }

        thead {
            display: table-header-group;
        }

        img,
        tr {
            page-break-inside: avoid;
        }

        h2,
        h3,
        p {
            orphans: 3;
            widows: 3;
        }

        h2,
        h3 {
            page-break-after: avoid;
        }
    }
}
