#lemonMade {
    .frame__buttons {
        position: absolute;
        right: 95px;
        top: 28.683px;
        user-select: none;
    }

    .buttons--container {
        align-items: center;
        display: flex;
        width: 100%;
    }

    .body__back {
        bottom: 76.515px;
        cursor: pointer;
        display: none;
        left: 34.669px;
        position: absolute;
        width: 56.667px;
        z-index: 5000;
    }

    .body__net {
        bottom: 60px;
        height: calc(100% - 140px);
        left: 0;
        overflow: scroll;
        position: absolute;
        transition-duration: 0.25s;
        width: 100%;
        z-index: 100;
        &.text-shown {
            z-index: 0;
        }
        object {
            height: 100%;
            left: 50%;
            max-width: calc(100% - 70px);
            position: absolute;
            top: 0px;
            transform: translate(-50%, 0);
        }
    }

    .sidebar__heading {
        h3 {
            color: $himssLightPurple;
            font-family: 'Metric', sans-serif;
            font-size: 18px;
            line-height: 19.35px;
            margin: 5px 0 0;
            padding: 12px 20px 0;
        }
    }

    .main__title {
        border: 1px solid white;
        border-bottom: none;

        h1 {
            color: white;
            font-family: 'Metric', sans-serif;
            font-size: 60px;
            line-height: 72px;
            margin: 0;
            padding: 20px 25px;
        }
    }

    .main__award {
        align-items: center;
        border: 1px solid white;
        border-bottom: none;
        display: flex;
        justify-content: space-between;
        padding: 20px 25px;
        position: relative;

        .award__description {
            width: calc(100% - 58.508px);

            p {
                color: $himssLightestPurple;
                font-family: 'ArchitectsDaughter', sans-serif;
                font-size: 13px;
                letter-spacing: 0.05rem;
                line-height: 19.35px;

                strong {
                    color: white;
                    font-family: 'Metric', sans-serif;
                    font-size: 15px;
                }
            }
        }

        .award__graphic {
            margin: 0 auto;
            width: 170px;
        }
    }

    .overview__content {
        box-sizing: border-box;
        height: calc(100% - 85px);
        left: 0;
        margin: 0 auto 20px;
        max-width: 960px;
        overflow: scroll;
        padding: 0 15px;
        position: absolute;
        right: 0;
        top: 65px;
        width: 100%;
    }

    .purple-plus {
        fill: $himssLightPurple;
    }

    .buttons__button {
        align-items: center;
        cursor: pointer;
        display: flex;
        margin-right: 26px;
        position: relative;

        &:nth-last-of-type(1) {
            margin-right: 0;
        }

        .purple-circle {
            fill: transparent;
        }

        svg {
            height: 18.589px;
            transform-origin: 50% 50%;
            transition-duration: 0.25s;
            width: 18.589px;
        }

        &.show {
            p {
                color: white;
            }

            svg {
                transform: rotate(45deg);

                .purple-circle {
                    fill: $himssMagenta;
                }

                .purple-plus {
                    fill: white;
                }
            }
        }

        p {
            color: $himssLightPurple;
            font-size: 10px;
            left: 0;
            line-height: 12px;
            margin: -4px 0 0 7px;
            max-width: 73px;
            transition-duration: 0.25s;
        }
    }

    .sub__sidebar {
        border: 1px solid white;
        border-top: none;
    }

    .sub__objectives {
        border: 1px solid white;
        border-top: none;

        h2 {
            color: $himssLightPurple;
            font-size: 28px;
            line-height: 33.6px;
            margin: 0;
            padding: 25px;

            &:nth-of-type(2) {
                padding: 0 25px 25px;
            }
        }
    }

    .sidebar__icon {
        margin: 0 auto;
        width: 43.32px;
    }

    .sidebar__two-columns {
        border: 1px solid white;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
        width: calc(100% - 44px);

        h3 {
            padding: 0;
        }
    }
}

@media only screen and (min-width: 750px) {
    #lemonMade {
        .sidebar__two-columns {
            display: flex;
            padding: 16px 0;
            position: relative;

            &::before {
                background-image: url('../img/SVG/vertical-dashed-line.svg');
                background-position: 0 0;
                content: "";
                height: 100%;
                left: 50%;
                position: absolute;
                top: 0;
                transform: translate(-50%, 0);
                width: 1.8px;
            }

            .two-columns__column {
                width: 50%;
            }
        }

        .content__sub {
            display: flex;

            .sub__sidebar {
                border-bottom: 1px solid white;
                border-right: none;
                width: 272px;
            }

            .sub__objectives {
                border-left: none;
                position: relative;
                width: calc(100% - 272px);
            }
        }

        .divider {
            background-image: url('../img/SVG/divider.svg');
            background-size: 8px;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 8px;
            transform: translate(-100%, 0);

            &::before {
                background-color: $himssGrey;
                content: '';
                left: -1px;
                height: calc(100% + 12px);
                position: absolute;
                top: -6px;
                width: 2px;
            }

            &::after {
                background-color: $himssGrey;
                content: '';
                right: -1px;
                height: calc(100% + 12px);
                position: absolute;
                top: -6px;
                width: 2px;
            }
        }

        .content__main {
            display: flex;

            .main__title {
                border-right: none;
                border-bottom: 1px solid white;
                width: calc(100% - 170px);
            }

            .main__award {
                border-left: none;
                border-bottom: 1px solid white;
                padding: 20px 15px;
                width: 170px;
            }
        }
    }
}

@media only screen and (min-width: 900px) {
    #lemonMade {
        .frame__buttons {
            right: 200px;
        }
    }
}
