#lemonMade {
    &::before,
    &::after {
        content: none;
    }

    .body__dashboard {
        display: none;
    }

    &.dashboard {
        background-color: $himssAltPurple;
        background-image: url('../img/SVG/graph-paper.svg');
        background-position: 1px 0;
        background-size: 15.06px;

        .body__dashboard {
            border-bottom: 1px solid white;
            border-top: 1px solid white;
            display: block;
            height: calc(100% - 205px);
            left: 50%;
            min-width: 360px;
            position: absolute;
            text-align: center;
            top: 50%;
            transform: translate(-50%, -50%);
            width: calc(100% - 240px);
            z-index: 1000;

            .dashboard__arrows {
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;

                p {
                    color: white;
                    font-family: 'ArchitectsDaughter', sans-serif;
                    font-size: 13px;
                    left: 50%;
                    line-height: 19.35px;
                    position: absolute;
                    top: -79px;
                    transform: translate(-50%, 0);
                }

                &::before {
                    background-image: url('../img/SVG/left-arrow.svg');
                    content: '';
                    left: 0;
                    height: 13.3333px;
                    position: absolute;
                    bottom: -1px;
                    transform: translate(-100%, 50%);
                    width: 6.504px;
                }

                &::after {
                    background-image: url('../img/SVG/right-arrow.svg');
                    content: '';
                    height: 13.3333px;
                    position: absolute;
                    right: 0;
                    bottom: -1px;
                    transform: translate(100%, 50%);
                    width: 6.504px;
                }
            }

            &::before {
                background-image: url('../img/SVG/left-arrow.svg');
                content: '';
                left: 0;
                height: 13.3333px;
                position: absolute;
                top: 0;
                transform: translate(-100%, -50%);
                width: 6.504px;
            }

            &::after {
                background-image: url('../img/SVG/right-arrow.svg');
                content: '';
                height: 13.3333px;
                position: absolute;
                right: 0;
                top: 0;
                transform: translate(100%, -50%);
                width: 6.504px;
            }

            svg {
                height: calc(100% - 170px);
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                top: 50%;
                max-width: calc(100% - 70px);
            }
        }

        .body__frame {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 10%;
            z-index: 2000;

            .corner-logo {
                cursor: default;
            }

            .corner-logo:hover {
                .dark-green-logo {
                    fill: white;
                }

                .light-green-logo {
                    fill: white;
                }
            }

            &::before,
            &::after {
                content: none;
            }

            .frame__corner {
                cursor: default;
            }

            .corner-page {
                display: none;
            }

            .frame__arrow,
            .frame__buttons {
                display: none;
            }
        }

        .body__net,
        .body__overview,
        .body__gradient {
            display: none;
        }
    }
}

@media only screen and (min-width: 600px) {
    #lemonMade {
        &.dashboard {
            .body__dashboard {
                height: calc(100% - 126px);

                .dashboard__arrows {
                    p {
                        top: -48px;
                    }
                }
            }
        }
    }
}
