@font-face {
    font-family: "ArchitectsDaughter";
    src: url("../fonts/ArchitectsDaughter.woff") format("woff"), url("../fonts/ArchitectsDaughter.eot") format("embedded-opentype"), url("../fonts/ArchitectsDaughter.ttf") format("truetype");
}

@font-face {
    font-family: "Metric";
    src: url("../fonts/Metric-Regular.woff") format("woff"), url("../fonts/Metric-Regular.eot") format("embedded-opentype"), url("../fonts/Metric-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Metric";
    src: url("../fonts/Metric-Semibold.woff") format("woff"), url("../fonts/Metric-Semibold.eot") format("embedded-opentype"), url("../fonts/Metric-Semibold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Metric";
    src: url("../fonts/Metric-Medium.woff") format("woff"), url("../fonts/Metric-Medium.eot") format("embedded-opentype"), url("../fonts/Metric-Medium.ttf") format("truetype");
    font-weight: 500;
}
