html,
#lemonMade {
    height: 100%;
}

#lemonMade {
    background-color: $himssDarkPurple;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;

    img {
        display: block;
        width: 100%;
    }

    .body__blueprint {
        background-image: url('../img/SVG/blueprint.svg');
        background-repeat: repeat;
        background-position: 50% 50%;
        background-size: 64.93px;
        display: none;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .sidebar__heading.locations-icon {
        background-image: url('../img/SVG/pinpoint.svg');
        background-position: 100% 50%;
        background-repeat: no-repeat;
        background-size: 46.661px;
        margin-right: 40px;
        margin-top: 7px;
        padding-right: 50px;
    }

    .sidebar__heading.revenue-icon {
        background-image: url('../img/SVG/coins.svg');
        background-position: 100% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 40px;
        margin-top: 7px;
        padding-right: 50px;

        h3 {
            padding-top: 0;
        }
    }

    .sub__sidebar {
        p {
            color: white;
            font-family: 'ArchitectsDaughter', sans-serif;
            font-size: 13px;
            line-height: 19.35px;
            margin: 8px 0 0;
            padding: 0 20px;
        }
    }

    .body__gradient {
        display: none;
        left: 0;
        margin-left: 0;
        margin-top: 0;
        min-height: 100%;
        min-width: 100%;
        opacity: 0.4;
        position: absolute;
        top: 0;
        transition-duration: 15s;
        will-change: background-color;

        svg {
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 110.59%;
        }
    }

    &::before {
        content: '';
        background-image: url('../img/SVG/top-frame.svg');
        background-size: 71px;
        height: 15px;
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
    }

    &::after {
        background-color: $himssDarkPurple;
        content: '';
        height: 15px;
        position: absolute;
        right: 0;
        top: 0;
        width: 15px;
    }

    .sidebar__arrow {
        background-image: url('../img/SVG/dashed-line.svg');
        background-position: 0% 50%;
        background-repeat: repeat-x;
        background-size: 7px;
        height: 1.5px;
        margin: 0 auto;
        padding: 25px 0;
        position: relative;
        width: calc(100% - 77px);

        &::before {
            background-image: url('../img/SVG/left-arrow.svg');
            background-repeat: no-repeat;
            content: '';
            height: 27.817px;
            left: -18px;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            width: 16.423px;
        }

        &::after {
            background-image: url('../img/SVG/right-arrow.svg');
            background-repeat: no-repeat;
            content: '';
            height: 27.817px;
            right: -18px;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            width: 16.423px;
        }
    }

    .body__frame {
        left: 0;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
        &.text-shown {
            z-index: 100;
        }

        .frame__arrow {
            background: url('../img/SVG/right-arrow.svg'), url('../img/SVG/right-arrow.svg'), url('../img/SVG/left-arrow.svg');
            background-position: 100% 0%, 100% 100%, 200px 100%;
            background-repeat: no-repeat, no-repeat, no-repeat;
            background-size: 5.372px, 5.372px, 5.372px;
            min-height: 10px;
            position: absolute;
            right: 90.701px;
            top: 56.205px;
            width: 100%;
            z-index: 0;

            .arrow__toggle {
                display: none;
                z-index: 200;
                object {
                    pointer-events: none;
                }
            }

            &.show {
                min-height: 95px;
                p {
                    display: block;
                }
                &::after {
                    background-color: white;
                    content: '';
                    height: 1px;
                    position: absolute;
                    bottom: 5px;
                    right: 0;
                    width: calc(100% - 200px);
                }
                .arrow__toggle {
                    display: block;
                }
            }

            p {
                color: white;
                display: none;
                font-family: 'Metric', sans-serif;
                font-size: 15px;
                line-height: 18px;
                padding: 10px 150px 10px 300px;
                span {
                    display: block;
                    margin: 0 auto;
                    max-width: 750px;
                    position: relative;
                    z-index: 100;
                }
                &:after {
                    background-color: rgba(46, 27, 78, .8);
                    content: '';
                    height: calc(100% - 20px);
                    position: absolute;
                    right: 0;
                    top: 10px;
                    width: calc(100% - 200px);
                    z-index: 0;
                }
            }

            &::before {
                background-color: white;
                content: '';
                height: 1px;
                position: absolute;
                top: 5px;
                width: 100%;
            }
        }

        .corner-logo {
            cursor: pointer;
        }

        .corner-logo:hover {
            .dark-green-logo {
                fill: $himssDarkGreen;
            }

            .light-green-logo {
                fill: $himssLightGreen;
            }
        }

        .frame__corner {
            left: 0;
            height: 179.883px;
            position: absolute;
            top: 0;
            width: 164.191px;
            z-index: 100;

            svg {
                left: 0;
                height: 100%;
                position: absolute;
                top: 0;
                width: 100%;
            }
        }

        &::before {
            background-image: url('../img/SVG/left-frame.svg');
            background-size: 15px;
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 15px;
        }

        &::after {
            background-image: url('../img/SVG/right-frame.svg');
            background-size: 15px;
            content: '';
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            width: 15px;
        }
    }

    .body__overview {
        background-image: url('../img/SVG/blueprint-overview.svg');
        background-repeat: repeat;
        background-position: 50% 50%;
        background-size: 15px;
        background-color: $himssTransparentPurple;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform: translate(0, calc(100% - 60px));
        transition-duration: 0.5s;
        width: 100%;
        z-index: 10000;

        &.show {
            transform: translate(0, 0);
            transition-duration: 0.5s;
        }

        .overview__bar {
            cursor: pointer;
            height: 60px;
            left: 0;
            opacity: 0;
            position: absolute;
            text-align: center;
            user-select: none;
            top: 0;
            transition-duration: 0.5s;
            width: 100%;

            &::before {
                background-color: $himssOverviewShadowPurple;
                content: '';
                height: 10px;
                left: 0;
                opacity: 0.5;
                position: absolute;
                top: -10px;
                width: 100%;
            }

            &.show {
                opacity: 1;
            }

            .bar__client {
                display: inline-block;
                margin-top: 12px;
                position: relative;

                .client__arrow-left {
                    background-image: url('../img/SVG/dashed-line.svg');
                    content: '';
                    height: 1.5px;
                    left: -20px;
                    position: absolute;
                    top: 52%;
                    transform: translate(-100%, -50%);
                    background-size: 6px;
                    width: 5000%;
                }

                .client__arrow-right {
                    background-image: url('../img/SVG/dashed-line.svg');
                    content: '';
                    height: 1.5px;
                    right: -20px;
                    position: absolute;
                    top: 52%;
                    transform: translate(100%, -50%);
                    background-size: 6px;
                    width: 5000%;
                }

                .arrow-right__arrowhead {
                    background-image: url('../img/SVG/right-arrow.svg');
                    height: 20px;
                    right: 0;
                    position: absolute;
                    top: 50%;
                    transform: translate(100%, -50%);
                    width: 10.762px;
                }
            }

            p {
                color: white;
                display: inline-block;
                font-family: 'ArchitectsDaughter', sans-serif;
                font-size: 22px;
                margin: 0;
                position: relative;

                &::before {
                    background-image: url('../img/SVG/right-arrow.svg');
                    content: '';
                    height: 20px;
                    left: -15px;
                    position: absolute;
                    top: 50%;
                    transform: translate(-100%, -50%);
                    width: 10.762px;
                }

                &::after {
                    background-image: url('../img/SVG/left-arrow.svg');
                    content: '';
                    height: 20px;
                    right: -15px;
                    position: absolute;
                    top: 50%;
                    transform: translate(100%, -50%);
                    width: 10.762px;
                }
            }
        }

        .overview__toggle {
            cursor: pointer;
            pointer-events: none;
            position: absolute;
            right: 1px;
            top: 5px;
            width: 52.585px;
        }
    }

    .arrow__toggle {
        cursor: pointer;
        position: absolute;
        right: 5px;
        top: 20px;
        width: 52.585px;
    }

    .heading__icons {
        .icons__row {
            padding: 0 25px;
        }

        .row__icon {
            padding-left: 35px;
            background-position: 0 0;
            background-repeat: no-repeat;
            background-size: 31px;
            margin-bottom: 20px;
            min-height: 30px;
        }

        p {
            color: white;
            font-family: 'Metric', sans-serif;
            font-size: 15px;
            line-height: 18px;
            margin: 0;
        }

        .ribbon {
            background-image: url('../img/SVG/ribbon-checkmark.svg');
        }

        .heart {
            background-image: url('../img/SVG/heart-icon.svg');
        }

        .alert {
            background-image: url('../img/SVG/alert.svg');
        }

        .magnifying {
            background-image: url('../img/SVG/magnifying-glass.svg');
        }
    }

    .big-icons__row {
        display: flex;
        flex-wrap: wrap;
        margin-top: -20px;
    }

    .heading__big-icons {
        padding: 0 20px 20px;
    }

    .objectives__heading {
        &:nth-of-type(3) {
            h2 {
                padding: 0 25px 25px;
            }
        }
    }

    .row__big-icon {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        width: 100%;

        .big-icon__icon {
            margin: 0;
            width: 90px;
        }

        .big-icon__text {
            width: calc(100% - 100px);
        }

        p {
            color: $himssLighterPurple;
            font-size: 13px;
            line-height: 15px;
            margin: 0;

            strong {
                color: white;
            }
        }
    }
}

@media only screen and (min-width: 700px) {
    #lemonMade {
        .icons__row {
            display: flex;
            justify-content: space-between;
        }

        .easterseals .row__icon {
            max-width: 350px;
        }

        .big-icons__row {
            display: flex;
            width: 100%;

            .row__big-icon {
                width: 50%;
            }
        }
    }
}

@keyframes bg-move {
    0%,
    100% {
        background-color: #371358;
    }

    50% {
        background-color: #694290;
    }
}

@keyframes fg-move {
    0%,
    100% {
        fill: #694290;
    }

    50% {
        fill: #371358;
    }
}
