$himssTransparentPurple: rgba(88, 45, 131, 0.97);
$himssOverviewShadowPurple: #210c33;
$himssDarkestPurple: #371358;
$himssDarkPurple: #2f194f;
$himssAltPurple: #582d83;
$himssLightPurple: #8a6ba8;
$himssLighterPurple: #bcabcd;
$himssLightestPurple: #b4a0c7;
$himssMagenta: #a51d53;
$himssGrey: #d6d5d7;
$himssDarkGreen: #799a3d;
$himssLightGreen: #b9bf33;
