#lemonMade article,
#lemonMade aside,
#lemonMade footer,
#lemonMade header,
#lemonMade nav,
#lemonMade section {
  display: block; }

#lemonMade h1 {
  font-size: 2em;
  margin: 0.67em 0; }

#lemonMade figcaption,
#lemonMade figure,
#lemonMade main {
  display: block; }

#lemonMade figure {
  margin: 1em 40px; }

#lemonMade hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

#lemonMade pre {
  font-family: monospace, monospace;
  font-size: 1em; }

#lemonMade a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

#lemonMade abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

#lemonMade b,
#lemonMade strong {
  font-weight: inherit; }

#lemonMade b,
#lemonMade strong {
  font-weight: bolder; }

#lemonMade code,
#lemonMade kbd,
#lemonMade samp {
  font-family: monospace, monospace;
  font-size: 1em; }

#lemonMade dfn {
  font-style: italic; }

#lemonMade mark {
  background-color: #ff0;
  color: #000; }

#lemonMade small {
  font-size: 80%; }

#lemonMade sub,
#lemonMade sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

#lemonMade sub {
  bottom: -0.25em; }

#lemonMade sup {
  top: -0.5em; }

#lemonMade audio,
#lemonMade video {
  display: inline-block; }

#lemonMade audio:not([controls]) {
  display: none;
  height: 0; }

#lemonMade img {
  border-style: none; }

#lemonMade svg:not(:root) {
  overflow: hidden; }

#lemonMade button,
#lemonMade input,
#lemonMade optgroup,
#lemonMade select,
#lemonMade textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

#lemonMade button,
#lemonMade input {
  overflow: visible; }

#lemonMade button,
#lemonMade select {
  text-transform: none; }

#lemonMade button,
#lemonMade html [type="button"],
#lemonMade [type="reset"],
#lemonMade [type="submit"] {
  -webkit-appearance: button; }

#lemonMade button::-moz-focus-inner,
#lemonMade [type="button"]::-moz-focus-inner,
#lemonMade [type="reset"]::-moz-focus-inner,
#lemonMade [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

#lemonMade button:-moz-focusring,
#lemonMade [type="button"]:-moz-focusring,
#lemonMade [type="reset"]:-moz-focusring,
#lemonMade [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

#lemonMade fieldset {
  padding: 0.35em 0.75em 0.625em; }

#lemonMade legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

#lemonMade progress {
  display: inline-block;
  vertical-align: baseline; }

#lemonMade textarea {
  overflow: auto; }

#lemonMade [type="checkbox"],
#lemonMade [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

#lemonMade [type="number"]::-webkit-inner-spin-button,
#lemonMade [type="number"]::-webkit-outer-spin-button {
  height: auto; }

#lemonMade [type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

#lemonMade [type="search"]::-webkit-search-cancel-button,
#lemonMade [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

#lemonMade ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

#lemonMade details,
#lemonMade menu {
  display: block; }

#lemonMade summary {
  display: list-item; }

#lemonMade canvas {
  display: inline-block; }

#lemonMade template {
  display: none; }

#lemonMade [hidden] {
  display: none; }

#lemonMade {
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  background-color: #fff;
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0; }
  #lemonMade ::selection {
    background-color: #d6d5d7;
    text-shadow: none; }
  #lemonMade hr {
    border-top: 1px solid #ccc;
    border: 0;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0; }
  #lemonMade audio,
  #lemonMade canvas,
  #lemonMade iframe,
  #lemonMade img,
  #lemonMade svg,
  #lemonMade video {
    vertical-align: middle; }
  #lemonMade fieldset {
    border: 0;
    margin: 0;
    padding: 0; }
  #lemonMade textarea {
    resize: vertical; }
  #lemonMade .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0; }

@media print {
  #lemonMade,
  #lemonMade::after,
  #lemonMade::before {
    background: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important; }
  #lemonMade a,
  #lemonMade a:visited {
    text-decoration: underline; }
  #lemonMade a[href]::after {
    content: " (" attr(href) ")"; }
  #lemonMade abbr[title]::after {
    content: " (" attr(title) ")"; }
  #lemonMade a[href^="#"]::after,
  #lemonMade a[href^="javascript:"]::after {
    content: ""; }
  #lemonMade pre {
    white-space: pre-wrap !important; }
  #lemonMade blockquote,
  #lemonMade pre {
    border: 1px solid #999;
    page-break-inside: avoid; }
  #lemonMade thead {
    display: table-header-group; }
  #lemonMade img,
  #lemonMade tr {
    page-break-inside: avoid; }
  #lemonMade h2,
  #lemonMade h3,
  #lemonMade p {
    orphans: 3;
    widows: 3; }
  #lemonMade h2,
  #lemonMade h3 {
    page-break-after: avoid; } }

@font-face {
  font-family: "ArchitectsDaughter";
  src: url("../fonts/ArchitectsDaughter.woff") format("woff"), url("../fonts/ArchitectsDaughter.eot") format("embedded-opentype"), url("../fonts/ArchitectsDaughter.ttf") format("truetype"); }

@font-face {
  font-family: "Metric";
  src: url("../fonts/Metric-Regular.woff") format("woff"), url("../fonts/Metric-Regular.eot") format("embedded-opentype"), url("../fonts/Metric-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Metric";
  src: url("../fonts/Metric-Semibold.woff") format("woff"), url("../fonts/Metric-Semibold.eot") format("embedded-opentype"), url("../fonts/Metric-Semibold.ttf") format("truetype");
  font-weight: bold; }

@font-face {
  font-family: "Metric";
  src: url("../fonts/Metric-Medium.woff") format("woff"), url("../fonts/Metric-Medium.eot") format("embedded-opentype"), url("../fonts/Metric-Medium.ttf") format("truetype");
  font-weight: 500; }

html,
#lemonMade {
  height: 100%; }

#lemonMade {
  background-color: #2f194f;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%; }
  #lemonMade img {
    display: block;
    width: 100%; }
  #lemonMade .body__blueprint {
    background-image: url("../img/SVG/blueprint.svg");
    background-repeat: repeat;
    background-position: 50% 50%;
    background-size: 64.93px;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  #lemonMade .sidebar__heading.locations-icon {
    background-image: url("../img/SVG/pinpoint.svg");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: 46.661px;
    margin-right: 40px;
    margin-top: 7px;
    padding-right: 50px; }
  #lemonMade .sidebar__heading.revenue-icon {
    background-image: url("../img/SVG/coins.svg");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 40px;
    margin-top: 7px;
    padding-right: 50px; }
    #lemonMade .sidebar__heading.revenue-icon h3 {
      padding-top: 0; }
  #lemonMade .sub__sidebar p {
    color: white;
    font-family: 'ArchitectsDaughter', sans-serif;
    font-size: 13px;
    line-height: 19.35px;
    margin: 8px 0 0;
    padding: 0 20px; }
  #lemonMade .body__gradient {
    display: none;
    left: 0;
    margin-left: 0;
    margin-top: 0;
    min-height: 100%;
    min-width: 100%;
    opacity: 0.4;
    position: absolute;
    top: 0;
    transition-duration: 15s;
    will-change: background-color; }
    #lemonMade .body__gradient svg {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 110.59%; }
  #lemonMade::before {
    content: '';
    background-image: url("../img/SVG/top-frame.svg");
    background-size: 71px;
    height: 15px;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%; }
  #lemonMade::after {
    background-color: #2f194f;
    content: '';
    height: 15px;
    position: absolute;
    right: 0;
    top: 0;
    width: 15px; }
  #lemonMade .sidebar__arrow {
    background-image: url("../img/SVG/dashed-line.svg");
    background-position: 0% 50%;
    background-repeat: repeat-x;
    background-size: 7px;
    height: 1.5px;
    margin: 0 auto;
    padding: 25px 0;
    position: relative;
    width: calc(100% - 77px); }
    #lemonMade .sidebar__arrow::before {
      background-image: url("../img/SVG/left-arrow.svg");
      background-repeat: no-repeat;
      content: '';
      height: 27.817px;
      left: -18px;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      width: 16.423px; }
    #lemonMade .sidebar__arrow::after {
      background-image: url("../img/SVG/right-arrow.svg");
      background-repeat: no-repeat;
      content: '';
      height: 27.817px;
      right: -18px;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      width: 16.423px; }
  #lemonMade .body__frame {
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0; }
    #lemonMade .body__frame.text-shown {
      z-index: 100; }
    #lemonMade .body__frame .frame__arrow {
      background: url("../img/SVG/right-arrow.svg"), url("../img/SVG/right-arrow.svg"), url("../img/SVG/left-arrow.svg");
      background-position: 100% 0%, 100% 100%, 200px 100%;
      background-repeat: no-repeat, no-repeat, no-repeat;
      background-size: 5.372px, 5.372px, 5.372px;
      min-height: 10px;
      position: absolute;
      right: 90.701px;
      top: 56.205px;
      width: 100%;
      z-index: 0; }
      #lemonMade .body__frame .frame__arrow .arrow__toggle {
        display: none;
        z-index: 200; }
        #lemonMade .body__frame .frame__arrow .arrow__toggle object {
          pointer-events: none; }
      #lemonMade .body__frame .frame__arrow.show {
        min-height: 95px; }
        #lemonMade .body__frame .frame__arrow.show p {
          display: block; }
        #lemonMade .body__frame .frame__arrow.show::after {
          background-color: white;
          content: '';
          height: 1px;
          position: absolute;
          bottom: 5px;
          right: 0;
          width: calc(100% - 200px); }
        #lemonMade .body__frame .frame__arrow.show .arrow__toggle {
          display: block; }
      #lemonMade .body__frame .frame__arrow p {
        color: white;
        display: none;
        font-family: 'Metric', sans-serif;
        font-size: 15px;
        line-height: 18px;
        padding: 10px 150px 10px 300px; }
        #lemonMade .body__frame .frame__arrow p span {
          display: block;
          margin: 0 auto;
          max-width: 750px;
          position: relative;
          z-index: 100; }
        #lemonMade .body__frame .frame__arrow p:after {
          background-color: rgba(46, 27, 78, 0.8);
          content: '';
          height: calc(100% - 20px);
          position: absolute;
          right: 0;
          top: 10px;
          width: calc(100% - 200px);
          z-index: 0; }
      #lemonMade .body__frame .frame__arrow::before {
        background-color: white;
        content: '';
        height: 1px;
        position: absolute;
        top: 5px;
        width: 100%; }
    #lemonMade .body__frame .corner-logo {
      cursor: pointer; }
    #lemonMade .body__frame .corner-logo:hover .dark-green-logo {
      fill: #799a3d; }
    #lemonMade .body__frame .corner-logo:hover .light-green-logo {
      fill: #b9bf33; }
    #lemonMade .body__frame .frame__corner {
      left: 0;
      height: 179.883px;
      position: absolute;
      top: 0;
      width: 164.191px;
      z-index: 100; }
      #lemonMade .body__frame .frame__corner svg {
        left: 0;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%; }
    #lemonMade .body__frame::before {
      background-image: url("../img/SVG/left-frame.svg");
      background-size: 15px;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 15px; }
    #lemonMade .body__frame::after {
      background-image: url("../img/SVG/right-frame.svg");
      background-size: 15px;
      content: '';
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 15px; }
  #lemonMade .body__overview {
    background-image: url("../img/SVG/blueprint-overview.svg");
    background-repeat: repeat;
    background-position: 50% 50%;
    background-size: 15px;
    background-color: rgba(88, 45, 131, 0.97);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(0, calc(100% - 60px));
    transition-duration: 0.5s;
    width: 100%;
    z-index: 10000; }
    #lemonMade .body__overview.show {
      transform: translate(0, 0);
      transition-duration: 0.5s; }
    #lemonMade .body__overview .overview__bar {
      cursor: pointer;
      height: 60px;
      left: 0;
      opacity: 0;
      position: absolute;
      text-align: center;
      user-select: none;
      top: 0;
      transition-duration: 0.5s;
      width: 100%; }
      #lemonMade .body__overview .overview__bar::before {
        background-color: #210c33;
        content: '';
        height: 10px;
        left: 0;
        opacity: 0.5;
        position: absolute;
        top: -10px;
        width: 100%; }
      #lemonMade .body__overview .overview__bar.show {
        opacity: 1; }
      #lemonMade .body__overview .overview__bar .bar__client {
        display: inline-block;
        margin-top: 12px;
        position: relative; }
        #lemonMade .body__overview .overview__bar .bar__client .client__arrow-left {
          background-image: url("../img/SVG/dashed-line.svg");
          content: '';
          height: 1.5px;
          left: -20px;
          position: absolute;
          top: 52%;
          transform: translate(-100%, -50%);
          background-size: 6px;
          width: 5000%; }
        #lemonMade .body__overview .overview__bar .bar__client .client__arrow-right {
          background-image: url("../img/SVG/dashed-line.svg");
          content: '';
          height: 1.5px;
          right: -20px;
          position: absolute;
          top: 52%;
          transform: translate(100%, -50%);
          background-size: 6px;
          width: 5000%; }
        #lemonMade .body__overview .overview__bar .bar__client .arrow-right__arrowhead {
          background-image: url("../img/SVG/right-arrow.svg");
          height: 20px;
          right: 0;
          position: absolute;
          top: 50%;
          transform: translate(100%, -50%);
          width: 10.762px; }
      #lemonMade .body__overview .overview__bar p {
        color: white;
        display: inline-block;
        font-family: 'ArchitectsDaughter', sans-serif;
        font-size: 22px;
        margin: 0;
        position: relative; }
        #lemonMade .body__overview .overview__bar p::before {
          background-image: url("../img/SVG/right-arrow.svg");
          content: '';
          height: 20px;
          left: -15px;
          position: absolute;
          top: 50%;
          transform: translate(-100%, -50%);
          width: 10.762px; }
        #lemonMade .body__overview .overview__bar p::after {
          background-image: url("../img/SVG/left-arrow.svg");
          content: '';
          height: 20px;
          right: -15px;
          position: absolute;
          top: 50%;
          transform: translate(100%, -50%);
          width: 10.762px; }
    #lemonMade .body__overview .overview__toggle {
      cursor: pointer;
      pointer-events: none;
      position: absolute;
      right: 1px;
      top: 5px;
      width: 52.585px; }
  #lemonMade .arrow__toggle {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 20px;
    width: 52.585px; }
  #lemonMade .heading__icons .icons__row {
    padding: 0 25px; }
  #lemonMade .heading__icons .row__icon {
    padding-left: 35px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 31px;
    margin-bottom: 20px;
    min-height: 30px; }
  #lemonMade .heading__icons p {
    color: white;
    font-family: 'Metric', sans-serif;
    font-size: 15px;
    line-height: 18px;
    margin: 0; }
  #lemonMade .heading__icons .ribbon {
    background-image: url("../img/SVG/ribbon-checkmark.svg"); }
  #lemonMade .heading__icons .heart {
    background-image: url("../img/SVG/heart-icon.svg"); }
  #lemonMade .heading__icons .alert {
    background-image: url("../img/SVG/alert.svg"); }
  #lemonMade .heading__icons .magnifying {
    background-image: url("../img/SVG/magnifying-glass.svg"); }
  #lemonMade .big-icons__row {
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px; }
  #lemonMade .heading__big-icons {
    padding: 0 20px 20px; }
  #lemonMade .objectives__heading:nth-of-type(3) h2 {
    padding: 0 25px 25px; }
  #lemonMade .row__big-icon {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%; }
    #lemonMade .row__big-icon .big-icon__icon {
      margin: 0;
      width: 90px; }
    #lemonMade .row__big-icon .big-icon__text {
      width: calc(100% - 100px); }
    #lemonMade .row__big-icon p {
      color: #bcabcd;
      font-size: 13px;
      line-height: 15px;
      margin: 0; }
      #lemonMade .row__big-icon p strong {
        color: white; }

@media only screen and (min-width: 700px) {
  #lemonMade .icons__row {
    display: flex;
    justify-content: space-between; }
  #lemonMade .easterseals .row__icon {
    max-width: 350px; }
  #lemonMade .big-icons__row {
    display: flex;
    width: 100%; }
    #lemonMade .big-icons__row .row__big-icon {
      width: 50%; } }

@keyframes bg-move {
  0%,
  100% {
    background-color: #371358; }
  50% {
    background-color: #694290; } }

@keyframes fg-move {
  0%,
  100% {
    fill: #694290; }
  50% {
    fill: #371358; } }

#lemonMade::before, #lemonMade::after {
  content: none; }

#lemonMade .body__dashboard {
  display: none; }

#lemonMade.dashboard {
  background-color: #582d83;
  background-image: url("../img/SVG/graph-paper.svg");
  background-position: 1px 0;
  background-size: 15.06px; }
  #lemonMade.dashboard .body__dashboard {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    display: block;
    height: calc(100% - 205px);
    left: 50%;
    min-width: 360px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 240px);
    z-index: 1000; }
    #lemonMade.dashboard .body__dashboard .dashboard__arrows {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
      #lemonMade.dashboard .body__dashboard .dashboard__arrows p {
        color: white;
        font-family: 'ArchitectsDaughter', sans-serif;
        font-size: 13px;
        left: 50%;
        line-height: 19.35px;
        position: absolute;
        top: -79px;
        transform: translate(-50%, 0); }
      #lemonMade.dashboard .body__dashboard .dashboard__arrows::before {
        background-image: url("../img/SVG/left-arrow.svg");
        content: '';
        left: 0;
        height: 13.3333px;
        position: absolute;
        bottom: -1px;
        transform: translate(-100%, 50%);
        width: 6.504px; }
      #lemonMade.dashboard .body__dashboard .dashboard__arrows::after {
        background-image: url("../img/SVG/right-arrow.svg");
        content: '';
        height: 13.3333px;
        position: absolute;
        right: 0;
        bottom: -1px;
        transform: translate(100%, 50%);
        width: 6.504px; }
    #lemonMade.dashboard .body__dashboard::before {
      background-image: url("../img/SVG/left-arrow.svg");
      content: '';
      left: 0;
      height: 13.3333px;
      position: absolute;
      top: 0;
      transform: translate(-100%, -50%);
      width: 6.504px; }
    #lemonMade.dashboard .body__dashboard::after {
      background-image: url("../img/SVG/right-arrow.svg");
      content: '';
      height: 13.3333px;
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(100%, -50%);
      width: 6.504px; }
    #lemonMade.dashboard .body__dashboard svg {
      height: calc(100% - 170px);
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 50%;
      max-width: calc(100% - 70px); }
  #lemonMade.dashboard .body__frame {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 10%;
    z-index: 2000; }
    #lemonMade.dashboard .body__frame .corner-logo {
      cursor: default; }
    #lemonMade.dashboard .body__frame .corner-logo:hover .dark-green-logo {
      fill: white; }
    #lemonMade.dashboard .body__frame .corner-logo:hover .light-green-logo {
      fill: white; }
    #lemonMade.dashboard .body__frame::before, #lemonMade.dashboard .body__frame::after {
      content: none; }
    #lemonMade.dashboard .body__frame .frame__corner {
      cursor: default; }
    #lemonMade.dashboard .body__frame .corner-page {
      display: none; }
    #lemonMade.dashboard .body__frame .frame__arrow,
    #lemonMade.dashboard .body__frame .frame__buttons {
      display: none; }
  #lemonMade.dashboard .body__net,
  #lemonMade.dashboard .body__overview,
  #lemonMade.dashboard .body__gradient {
    display: none; }

@media only screen and (min-width: 600px) {
  #lemonMade.dashboard .body__dashboard {
    height: calc(100% - 126px); }
    #lemonMade.dashboard .body__dashboard .dashboard__arrows p {
      top: -48px; } }

#lemonMade .frame__buttons {
  position: absolute;
  right: 95px;
  top: 28.683px;
  user-select: none; }

#lemonMade .buttons--container {
  align-items: center;
  display: flex;
  width: 100%; }

#lemonMade .body__back {
  bottom: 76.515px;
  cursor: pointer;
  display: none;
  left: 34.669px;
  position: absolute;
  width: 56.667px;
  z-index: 5000; }

#lemonMade .body__net {
  bottom: 60px;
  height: calc(100% - 140px);
  left: 0;
  overflow: scroll;
  position: absolute;
  transition-duration: 0.25s;
  width: 100%;
  z-index: 100; }
  #lemonMade .body__net.text-shown {
    z-index: 0; }
  #lemonMade .body__net object {
    height: 100%;
    left: 50%;
    max-width: calc(100% - 70px);
    position: absolute;
    top: 0px;
    transform: translate(-50%, 0); }

#lemonMade .sidebar__heading h3 {
  color: #8a6ba8;
  font-family: 'Metric', sans-serif;
  font-size: 18px;
  line-height: 19.35px;
  margin: 5px 0 0;
  padding: 12px 20px 0; }

#lemonMade .main__title {
  border: 1px solid white;
  border-bottom: none; }
  #lemonMade .main__title h1 {
    color: white;
    font-family: 'Metric', sans-serif;
    font-size: 60px;
    line-height: 72px;
    margin: 0;
    padding: 20px 25px; }

#lemonMade .main__award {
  align-items: center;
  border: 1px solid white;
  border-bottom: none;
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
  position: relative; }
  #lemonMade .main__award .award__description {
    width: calc(100% - 58.508px); }
    #lemonMade .main__award .award__description p {
      color: #b4a0c7;
      font-family: 'ArchitectsDaughter', sans-serif;
      font-size: 13px;
      letter-spacing: 0.05rem;
      line-height: 19.35px; }
      #lemonMade .main__award .award__description p strong {
        color: white;
        font-family: 'Metric', sans-serif;
        font-size: 15px; }
  #lemonMade .main__award .award__graphic {
    margin: 0 auto;
    width: 170px; }

#lemonMade .overview__content {
  box-sizing: border-box;
  height: calc(100% - 85px);
  left: 0;
  margin: 0 auto 20px;
  max-width: 960px;
  overflow: scroll;
  padding: 0 15px;
  position: absolute;
  right: 0;
  top: 65px;
  width: 100%; }

#lemonMade .purple-plus {
  fill: #8a6ba8; }

#lemonMade .buttons__button {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-right: 26px;
  position: relative; }
  #lemonMade .buttons__button:nth-last-of-type(1) {
    margin-right: 0; }
  #lemonMade .buttons__button .purple-circle {
    fill: transparent; }
  #lemonMade .buttons__button svg {
    height: 18.589px;
    transform-origin: 50% 50%;
    transition-duration: 0.25s;
    width: 18.589px; }
  #lemonMade .buttons__button.show p {
    color: white; }
  #lemonMade .buttons__button.show svg {
    transform: rotate(45deg); }
    #lemonMade .buttons__button.show svg .purple-circle {
      fill: #a51d53; }
    #lemonMade .buttons__button.show svg .purple-plus {
      fill: white; }
  #lemonMade .buttons__button p {
    color: #8a6ba8;
    font-size: 10px;
    left: 0;
    line-height: 12px;
    margin: -4px 0 0 7px;
    max-width: 73px;
    transition-duration: 0.25s; }

#lemonMade .sub__sidebar {
  border: 1px solid white;
  border-top: none; }

#lemonMade .sub__objectives {
  border: 1px solid white;
  border-top: none; }
  #lemonMade .sub__objectives h2 {
    color: #8a6ba8;
    font-size: 28px;
    line-height: 33.6px;
    margin: 0;
    padding: 25px; }
    #lemonMade .sub__objectives h2:nth-of-type(2) {
      padding: 0 25px 25px; }

#lemonMade .sidebar__icon {
  margin: 0 auto;
  width: 43.32px; }

#lemonMade .sidebar__two-columns {
  border: 1px solid white;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  width: calc(100% - 44px); }
  #lemonMade .sidebar__two-columns h3 {
    padding: 0; }

@media only screen and (min-width: 750px) {
  #lemonMade .sidebar__two-columns {
    display: flex;
    padding: 16px 0;
    position: relative; }
    #lemonMade .sidebar__two-columns::before {
      background-image: url("../img/SVG/vertical-dashed-line.svg");
      background-position: 0 0;
      content: "";
      height: 100%;
      left: 50%;
      position: absolute;
      top: 0;
      transform: translate(-50%, 0);
      width: 1.8px; }
    #lemonMade .sidebar__two-columns .two-columns__column {
      width: 50%; }
  #lemonMade .content__sub {
    display: flex; }
    #lemonMade .content__sub .sub__sidebar {
      border-bottom: 1px solid white;
      border-right: none;
      width: 272px; }
    #lemonMade .content__sub .sub__objectives {
      border-left: none;
      position: relative;
      width: calc(100% - 272px); }
  #lemonMade .divider {
    background-image: url("../img/SVG/divider.svg");
    background-size: 8px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 8px;
    transform: translate(-100%, 0); }
    #lemonMade .divider::before {
      background-color: #d6d5d7;
      content: '';
      left: -1px;
      height: calc(100% + 12px);
      position: absolute;
      top: -6px;
      width: 2px; }
    #lemonMade .divider::after {
      background-color: #d6d5d7;
      content: '';
      right: -1px;
      height: calc(100% + 12px);
      position: absolute;
      top: -6px;
      width: 2px; }
  #lemonMade .content__main {
    display: flex; }
    #lemonMade .content__main .main__title {
      border-right: none;
      border-bottom: 1px solid white;
      width: calc(100% - 170px); }
    #lemonMade .content__main .main__award {
      border-left: none;
      border-bottom: 1px solid white;
      padding: 20px 15px;
      width: 170px; } }

@media only screen and (min-width: 900px) {
  #lemonMade .frame__buttons {
    right: 200px; } }

#lemonMade .hidden {
  display: none !important; }

#lemonMade .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; }

#lemonMade .visuallyhidden.focusable:active,
#lemonMade .visuallyhidden.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit; }

#lemonMade .invisible {
  visibility: hidden; }

#lemonMade .clearfix::before,
#lemonMade .clearfix::after {
  content: " ";
  display: table; }

#lemonMade .clearfix::after {
  clear: both; }

/*# sourceMappingURL=styles.css.map */
